* {
  margin: 0;
  padding: 0;
}


.app{

  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board{
  width: calc(64px * 8);
  height: calc(64px * 8);
  display: flex;
  flex-wrap: wrap;

}
.cell{
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.black{
  background-color: #228d8d;
}
.white{
  background-color: #f09245;
}
.cell img{
  width: 40px;
  height: 40px;
  position: relative;
}
.selected{
  background-color: rgba(255, 0, 0, 0.3);
}

.available {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: lightgreen;
}